@model MovieLibrary.Models.Service.Movie

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h2>@Model.Title</h2>

<div class="row">
    @if (Model.PosterPath == null)
    {
        <div class="col" style="text-align: center">
            @Html.Partial("_DetailsDiv")
        </div>
    }
    else
    {
        <div class="col">
            <img src="@Model.PosterPath" alt="Movie Poster">
        </div>
        <div class="col">
            @Html.Partial("_DetailsDiv")
        </div>
    }
</div>

@section scripts
{
    <script>
        $('#likeBtn').click(function() {
            document.location = '@Url.Action("AddLike", "Home", new {id = Model.ApiId})';
        });
        
        $('#dislikeBtn').click(function() {
          document.location = '@Url.Action("AddDislike", "Home", new {id = Model.ApiId})';
        });
    </script>
}