<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Movie Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#movieLibraryNav"
            aria-controls="movieLibraryNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="movieLibraryNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Now Playing", "Index", "Home",
                    new {area = ""}, new {@class = "nav-link"})
            </li>
            <li class="nav-item">
                @* @Html.ActionLink("Search", "Search", "Home", new {area = ""},  *@
                @*     new {@class = "nav-link"}) *@
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                @Html.TextBox("query", "Search", new
                {
                    @class = "form-control",
                    placeholder = "Search Title",
                    aria_label = "Search Title",
                    aria_describedby = "searchBtn"
                })
                <div class="input-group-append">
                    @* <button type="submit" class="btn btn-outline-secondary" id="searchBtn" value="query">Search</button> *@
                    <input type="submit" class="btn btn-outline-secondary" id="searchBtn" value="Search">
                </div>
            }
        </form>
    </div>
</nav>

@* old *@
@* <div class="navbar navbar-inverse navbar-fixed-top"> *@
@*     <div class="container"> *@
@*         <div class="navbar-header"> *@
@*             @Html.ActionLink("Movie Library", "Index", "Home", new {area = ""}, *@
@*                 new {@class = "navbar-brand"}) *@
@*             @Html.ActionLink("Now Playing", "Index", "Home") *@
@*             @Html.ActionLink("Search", "Search", "Home") *@
@*             @Html.Partial("_SearchBar") *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="container body-content">
    @RenderBody()

    <hr/>
    <footer>
        <p>
            Fullstack C# .NET Framework App by <a href="https://github.com/NarishSingh/MovieLibrary">Narish Singh</a> -
            @DateTime.Now.ToString("d")
        </p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
@RenderSection("scripts", required: false)
</body>
</html>