<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie Library</title>
    @Styles.Render("~/Content/css")
    @Html.Partial("_Favicons")
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Movie Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#movieLibraryNav"
            aria-controls="movieLibraryNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="movieLibraryNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Now Playing", "Index", "Home",
                    new {area = ""}, new {@class = "nav-link"})
            </li>
            <li class="nav-item">
                @* @Html.ActionLink("Search", "Search", "Home", new {area = ""},  *@
                @*     new {@class = "nav-link"}) *@
            </li>
        </ul>
        @* Search bar *@
        @using (Html.BeginForm("SearchTitle", "Home", FormMethod.Get,
            new {@class = "form-inline my-2 my-lg-0", id = "titleSearchBar"}))
        {
            @Html.TextBox("query", "", new {@class = "form-control", placeholder = "Search Title", 
                aria_label = "Search Title", aria_describedby = "searchBtn"})
            <div class="input-group-append">
                <input type="submit" class="btn btn-outline-secondary" id="searchBtn" value="Search">
            </div>
        }
    </div>
</nav>

<div class="container body-content">
    @RenderBody()

    <hr/>
    <footer>
        <p>
            Fullstack C# .NET Framework App by <a href="https://github.com/NarishSingh/MovieLibrary">Narish Singh</a> -
            @DateTime.Now.ToString("d")
        </p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $("form[id='titleSearchBar']").validate({
            rules: {
                'query': {
                    required: true
                }
            },
            errorPlacement: function() {
              return false; //no error msg, just highlight the box
            }
        })
    })
</script>
@RenderSection("scripts", required: false)
</body>
</html>